# --- Geral ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# --- Docker ---
.docker/

# --- Variáveis de Ambiente (SEGURANÇA!) ---
.env
.env.*

# --- Node (Frontend e NestJS) ---
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# --- Python (Collector) ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# --- Go (Worker) ---
/go-worker/worker
/go-worker/worker.exe